$default:#fff;
$main:#15c3f9;
$success:#58d883;
$warning:#edcb6d;
$danger:#e95b09;
$disabled:#ccc;
$blacktext:rgb(42, 41, 41);
$whitetext:#fff;
$textcolor:rgb(78, 77, 77);
$bordercolor:#e8e5e5;